body  {
    height: 100%;
	font-family: Graphik;
	font-weight: normal;
	font-style: normal;
	color: #000;
	 background: #FAF8F8; 
	

}

.black{

	border-bottom: 2px solid #006E99;
}

.logo {

    width: 124px;
    height: 25px;
}

/* menu */
.nav-style * {
	box-sizing: border-box;
	transition: all .35s ease;
  }
  
  .nav-style li {
	display: inline-block;
	list-style: outside none none;
	margin: .2em .5em;
	padding: 0;
  }
  
  .nav-style a {
	padding: .3em .6em;
	color: rgba(255,255,255,.5);
	position: relative;
	text-decoration: none;
	
  }
  
  .nav-style a::before,
  .nav-style a::after {
	content: '';
	height: 14px;
	width: 14px;
	position: absolute;
	transition: all .35s ease;
	opacity: 0;
  }
  
  .nav-style a::before {
	content: '';
	right: 0;
	top: 0;
	border-top: 3px solid #006E99;
	border-right: 3px solid #006E99;
	transform: translate(-100%, 50%);
  }
  
  .nav-style a:after {
	content: '';
	left: 0;
	bottom: 0;
	border-bottom: 3px solid #006E99;
	border-left: 3px solid #006E99;
	transform: translate(100%, -50%)
  }
  
  .nav-style a:hover:before,
  .nav-style a:hover:after{
	transform: translate(0,0);
	opacity: 1;
  }
  
  .nav-style a:hover {
	color: #006E99;
  }

  .active{

	color: #006E99 !important;
  }
/* menu end */

/* header or hero section */

.header {

	background-image: linear-gradient(180deg, rgba(0, 110, 153, 0.77) 0%, rgba(0, 110, 153, 0.8) 100%), url("../images/heroiamge.jpg")  ;
	
	background-position: center center;
	background-repeat: no-repeat;
	/*min-width: 1024px;*/
	width: 100%;
	height:100%;
	 background-size:cover;
	 background-attachment: fixed;
 	/*top: 0;
  	left: 0;*/
}


.header-caption{
	position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.byteworks-header-caption{
	

font-size: 36px;
}

.byteworks-header-company-caption{
	
	
	font-style: bold;
	font-weight: bold;
	font-size: 40px;
	}

.byteworks-header-button{
	width: 150px;
	height: 50px;
	background: #EE5149;
	border-radius: 8px;
	border: #EE5149 0px;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}

/* header or hero section end */

/* about section */
.section-about{
	padding-top: 130px;
    padding-bottom: 130px;
    /* background-color: #EDF5F8; */
}
.about-us{
	
	font-weight: 600;
	font-size: 40px;
	line-height: 53px;
	color: #000;
}
.subhead{
	font-size: 36px;
	color: rgba(0, 0, 0, 0.5);
}


.about-text p {
	font-size: 16px;
line-height: 230%;
}

.section-reimagine{
	padding-bottom:130px ;
}


.card-title-text{
	font-family: Graphik;

font-weight: 600;
font-size: 14px;
}
.caption-text {


font-size: 14px;
line-height: 150%;
}

.card-size{

	border-radius: 15px;
	border: 0px;
	
}

.card-size.one{

	background: #006E99;
	transition: all .86s ease;
	
}


.card-size.two{

	background: #04334D;
	transition: all .86s ease;
	
}
.card-size.three{

	background: #174B89;
	transition: all .86s ease;
	
}

.card-size.four{

	background: #2F80ED;
	transition: all .86s ease;
	
}

.card-size.one:hover{
	color: #000 !important;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
	background: #FAF8F8;
	
	transition: all .35s ease;
	border: 0px;
	
}
.card-size.two:hover{
	color: #000 !important;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
	background: #FAF8F8;
	
	transition: all .35s ease;
	border: 0px;
	
}

.card-size.three:hover{
	color: #000 !important;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
	background: #FAF8F8;
	
	transition: all .35s ease;
	border: 0px;
	
}

.card-size.four:hover{
	color: #000 !important;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
	background: #FAF8F8;
	
	transition: all .35s ease;
	border: 0px;
	
}


.working{
	background-color: #EDF5F8;
	
}

.testingit{
	background-color: #EDF5F8;
	transition: all .85s ease;

}
.test-section-one{

	
	transition: all .90s ease;}
.test-section-one:hover{

	
	transition: all .90s ease;
	background-image: url(../images/fes2.jpg);	

}

.test-section-one:hover .testingit{
	color: #000 !important;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
	background: #FAF8F8;
	border-radius: 15px;
	transition: all .35s ease;
	border: 0px;
	transform: scale(1.1);

}

.testingitt{
	background-color: #EDF5F8;
	transition: all .85s ease;

}
.test-section-two{

	
	transition: all .90s ease;}
.test-section-two:hover{

	
	transition: all .90s ease;
	background-image: url(../images/fes3.jpg);	

}

.test-section-two:hover .testingitt{
	color: #000 !important;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
	background: #FAF8F8;
	border-radius: 15px;
	transition: all .35s ease;
	border: 0px;
	transform: scale(1.1);

}