body  {
    height: 100%;
	font-family: Graphik;
	font-weight: normal;
	font-style: normal;
	color: #000;
	background: #FAF8F8;

}


.logo {

    width: 124px;
    height: 25px;
}

/* menu */
.nav-style * {
	box-sizing: border-box;
	transition: all .35s ease;
  }
  
  .nav-style li {
	display: inline-block;
	list-style: outside none none;
	margin: .2em .5em;
	padding: 0;
  }
  
  .nav-style a {
	padding: .3em .6em;
	color: rgba(255,255,255,.5);
	position: relative;
	text-decoration: none;
	
  }
  
  .nav-style a::before,
  .nav-style a::after {
	content: '';
	height: 14px;
	width: 14px;
	position: absolute;
	transition: all .35s ease;
	opacity: 0;
  }
  
  .nav-style a::before {
	content: '';
	right: 0;
	top: 0;
	border-top: 3px solid #006E99;
	border-right: 3px solid #006E99;
	transform: translate(-100%, 50%);
  }
  
  .nav-style a:after {
	content: '';
	left: 0;
	bottom: 0;
	border-bottom: 3px solid #006E99;
	border-left: 3px solid #006E99;
	transform: translate(100%, -50%)
  }
  
  .nav-style a:hover:before,
  .nav-style a:hover:after{
	transform: translate(0,0);
	opacity: 1;
  }
  
  .nav-style a:hover {
	color: #006E99;
  }

  .active{

	color: #006E99 !important;
  }
/* menu end */

/* header or hero section */

.header {

	background-image: linear-gradient(180deg, rgba(0, 110, 153, 0.77) 0%, rgba(0, 110, 153, 0.8) 100%), url("../images/heroiamge.jpg")  ;
	min-height: 100%;
	 background-position: center;
	background-repeat: no-repeat;
	/*min-width: 1024px;*/
	width: 100%;
	height:100%;
	 background-size: cover;
 	/*top: 0;
  	left: 0;*/
}


.header-caption{
	position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.byteworks-header-caption{
	
font-family: Graphik;
font-style: normal;
font-weight: normal;
font-size: 36px;
}

.byteworks-header-company-caption{
	
	font-family: Graphik;
	font-style: bold;
	font-weight: bold;
	font-size: 40px;
	}

.byteworks-header-button{
	width: 180px;
	height: 60px;
	background: #EE5149;
	border-radius: 8px;
	border: #EE5149 0px;
	font-family: Graphik;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}

/* header or hero section end */

/* about section */
.about-us{
	
	font-weight: 600;
	font-size: 40px;
	line-height: 53px;
	color: #000;
}
.about-subhead{
	font-size: 36px;
	color: rgba(0, 0, 0, 0.651);
}


.about-text p {
	font-size: 16px;
line-height: 230%;
}